$icomoon-font-path: "fonts" !default;

$bp-number: \e92f;
$bp-string: \e930;
$bp-goal: \e931;
$bp-time: \e932;
$bp-drill-down: \e933;
$bp-arrow-up: \e92b;
$bp-arrow-down: \e92c;
$bp-arrow-left: \e92d;
$bp-arrow-right: \e92e;
$bp-chart--funel: \e927;
$bp-chart--grid: \e928;
$bp-chart--area: \e91f;
$bp-chart--bar: \e920;
$bp-chart--colum_line: \e921;
$bp-chart--colum: \e922;
$bp-chart--donut: \e923;
$bp-chart--kpi: \e924;
$bp-chart--line: \e925;
$bp-chart--pie: \e926;
$bp-plus: \e929;
$bp-plus--circle: \e91b;
$bp-close--circle-o: \e91c;
$bp-close: \e91d;
$bp-calendar: \e91e;
$bp-Folder--open: \e91a;
$bp-Folder: \e90c;
$bp-chart-type: \e90d;
$bp-data-grid: \e90e;
$bp-formula: \e90f;
$bp-location: \e910;
$bp-edit: \e911;
$bp-file: \e915;
$bp-filter--plus: \e92a;
$bp-filter: \e916;
$bp-print: \e917;
$bp-link: \e918;
$bp-share: \e919;
$bp-config-gear: \e90b;
$bp-consulta--new: \e906;
$bp-consulta: \e907;
$bp-painel: \e908;
$bp-search: \e909;
$bp-menu-dots: \e90a;
$bp-arrow_left--circle: \e904;
$bp-arrow_right--circle: \e905;
$bp-notify: \e901;
$bp-notify--badge: \e902;
$bp-badge: \e903;
$bp-exclamation-circle: \e900;

