html.draggable-cursor 
{
    cursor: move;
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

.block--parametro_val.block--parametro_list_empty
{
    background-image: url('/img/BlankSlate_paramentros--valor.png');
    background-position: center;
    background-repeat: no-repeat;
}

.block--parametro_arg.block--parametro_list_empty
{
    background-image: url('/img/BlankSlate_paramentros--argumentos.png');
    background-position: center;
    background-repeat: no-repeat;
}

.block--parametro_ser.block--parametro_list_empty
{
    background-image: url('/img/BlankSlate_paramentros--series.png');
    background-position: center;
    background-repeat: no-repeat;
}  

.attr-list
{
    padding-top: 10px;
}

ul#fonte-dados .dropdown.attr-list__toolbar,
ul#valor .dropdown.attr-list__toolbar,
ul#serie .dropdown.attr-list__toolbar
{
    display: none;
}

.block--parametro .bp-money
{
    font-size: 11px;
    color: #00a9c7;
    margin-top: 2px;
    margin-right: 4px;
}

#chartbp1 
{
    width: 100%;
    height: 500px;
    font-size: 11px;
}	
.div-loading
{
    display:    none;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
}
.div-loading.loading 
{
    overflow: hidden;   
}
.div-loading.loading
{
    display: block;
}
        
.breadcrumb-cp,
.cursor-pointer
{
    cursor: pointer;
}

.cursor-nodrop
{
    cursor: no-drop;
}
        
.btn-xs 
{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
        
.card.card-consulta .card-block .dataTables_wrapper 
{
    height: 100%;
}
        
.block--parametro li span 
{
    color: #007EC3;
    font-size: 12px;
    font-weight: 500;
}
    
a.dropdown-item svg.svg-inline--fa {
    color: #007EC3;
    font-size: 16px;
}
        
.item-sort-collapsed, .item-graph-collapsed
{
    display: none;    
}
        
span.info-beta
{
    color: #FFF;
    padding-top: 20px;
    font-weight: 600;
    font-size: 12px;
    padding-left: 5px;
}