//
//////////////
//brand colors
$primary-color: #007EC3;
$secondary-color: #004c89;
//
/////////////////
//basic app colors
$text-color: #181f1c;
$white-color: #ffffff;
$gray1-bp1: #d0ccd0;
$gray2-bp1: #fbfcff;
//
////////////////////
//alert success warning
$success-bp1: #5fad41;
$error-bp1: #a72608;
$warning-bp1: #ffa400;
//
////////////////////
//featured colors
$consulta--bg_1:#EFF3FF;
$consulta--bg_2:#E7EDFF;
$consulta--bg_3:#F7F9FF;